{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{# <form method="post" class="uk-form-stacked"> #}
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <section class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url(https://wallpaperplay.com/walls/full/7/2/b/129748.jpg);">
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Connexion</h1>
    </section> #}


    {# <fieldset class="uk-fieldset content-center">
        <div class="uk-margin">
            <label for="inputEmail" class="uk-legend">Email</label><br>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="uk-input" required autofocus>
        </div>
        
        <div class="uk-margin">
            <label for="inputPassword" class="uk-legend">Password</label>
            <input type="password" name="password" id="inputPassword" class="uk-input" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <br>

        <button class="uk-button uk-button-small" type="submit">Sign in</button>
    </fieldset> #}



<section class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade background-main" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h1 class="uk-card-title uk-text-center"><span style='font-size:25px;'>&#128073; </span> S'identifier <span style='font-size:25px;'> &#128072;</span></h1>
						<form method="post" class="uk-form-stacked">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="uk-text-center">
                                    Vous êtes déjà connecté avec : <b>{{ app.user.username }}</b>
                                    <br>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="uk-input uk-form-large" required autofocus>
								</div>
							</div>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input type="password" name="password" id="inputPassword" class="uk-input uk-form-large" required>
								</div>
							</div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="uk-margin">
								<button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Connexion</button>
							</div>
							<div class="uk-text-small uk-text-center">Pas encore de compte ? <a href="{{ path("app_register") }}" title="Crée un compte">Crée un compte</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
