{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {# <h1>Register</h1> #}

    {# {{ dump(registrationForm)}} #}

    {# {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.age) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }} #}




<section class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade background-main2" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h1 class="uk-card-title uk-text-center"><span style='font-size:25px;'>&#128073; </span> Inscription <span style='font-size:25px;'> &#128072;</span></h1>
                                    {{ form_start(registrationForm) }}
                            <div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
                                        {{ form_widget(registrationForm.email) }}
                                        {{ form_widget(registrationForm.nom) }}
                                        {{ form_widget(registrationForm.prenom) }}
                                        {{ form_widget(registrationForm.age) }}
                                        {{ form_widget(registrationForm.plainPassword) }}
                                        {{ form_row(registrationForm.agreeTerms) }}
								</div>
							</div>

							<div class="uk-margin">
								<button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Inscription</button>
							</div>
                                    {{ form_end(registrationForm) }}

							<div class="uk-text-small uk-text-center">Vous avez déjà un compte ? <a href="{{ path("app_login") }}" title="Crée un compte">Connexion</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
