{% extends 'base.html.twig' %}

{% block title %}Edit TestApi{% endblock %}

{% block body %}
    <h1>Edit TestApi</h1>

    {{ include('test_api/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('test_api_index') }}">back to list</a>

    {{ include('test_api/_delete_form.html.twig') }}
{% endblock %}
