{% extends 'base.html.twig' %}

{% block title %}TestApi index{% endblock %}

{% block body %}
    <h1>TestApi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_api in test_apis %}
            <tr>
                <td>{{ test_api.id }}</td>
                <td>{{ test_api.nom }}</td>
                <td>{{ test_api.prenom }}</td>
                <td>{{ test_api.email }}</td>
                <td>
                    <a href="{{ path('test_api_show', {'id': test_api.id}) }}">show</a>
                    <a href="{{ path('test_api_edit', {'id': test_api.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('test_api_new') }}">Create new</a>
{% endblock %}
