{% extends 'base.html.twig' %}

{% block title %}New TestApi{% endblock %}

{% block body %}
    <h1>Create new TestApi</h1>

    {{ include('test_api/_form.html.twig') }}

    <a href="{{ path('test_api_index') }}">back to list</a>
{% endblock %}
