{% extends 'base.html.twig' %}

{% block title %}TestApi{% endblock %}

{% block body %}
    <h1>TestApi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test_api.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ test_api.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ test_api.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ test_api.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('test_api_index') }}">back to list</a>

    <a href="{{ path('test_api_edit', {'id': test_api.id}) }}">edit</a>

    {{ include('test_api/_delete_form.html.twig') }}
{% endblock %}
