.content-center{
    z-index: 99;
}

body{
    background-color: #FAFAFA;
    height: 100vh;
    overflow-x: hidden;
}

.background-main{
    background-image: url("https://wallpaperplay.com/walls/full/a/b/4/129744.jpg");
    background-size: cover;
    background-position: center;
}

.background-main2{
    background-image: url("https://wallpaperplay.com/walls/full/b/5/9/129749.jpg");
    background-size: cover;
    background-position: center;
}

.background-main3{
    background-image: url("https://wallpaperplay.com/walls/full/2/5/d/129759.jpg");
    background-size: cover;
    background-position: center;
}