{% extends 'base.html.twig' %}

{% block title %}TestEntity{% endblock %}

{% block body %}
    <h1>TestEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test_entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ test_entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ test_entity.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('test_entity_index') }}">back to list</a>

    <a href="{{ path('test_entity_edit', {'id': test_entity.id}) }}">edit</a>

    {{ include('test_entity/_delete_form.html.twig') }}
{% endblock %}
