{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}

<section class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade background-main3" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h1 class="uk-card-title uk-text-center"><span style='font-size:25px;'>&#128073; </span> Todo List <span style='font-size:25px;'> &#128072;</span></h1>
                            <div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
                                        {% if (list != null) %}
                                            <form method="post" action="{{ path('list_add', {'idList': list.id}) }}">
                                                {{ form_start(form) }}
                                                {{ form_widget(form.name) }}
                                                <br>
                                                <input type="submit" value="Ajouter une tâche" class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin">
                                                {{ form_end(form) }}

                                                <hr class="uk-divider-icon">
                                            </form>

                                            {% for message in app.flashes('success') %}
                                                <p style="color: green;">{{message }}</p>
                                            {%  endfor %}

                                            {% for message in app.flashes('error') %}
                                                <p style="color: red;">{{message }}</p>
                                            {%  endfor %}

                                            {% for item in list.items %}               
                                                <ul class="uk-list uk-list-divider">
                                                    <li>
                                                        <b>Tache :</b> {{ item.name }}
                                                        <br>
                                                        <b>Date :</b> {{ item.creationDate |date("d/m/Y H:i:s")}}
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        {% else %}
                                            <p>Aucune Liste pour cette utilisateur</p>
                                            <form action="{{ path('list_create', {'idUser': user.id}) }}" method="post">
                                                <input type="submit" value="Créer une nouvelle list" class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin">
                                            </form>
                                        {% endif %}  
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
